:root {
    --background: #fffce2;
    --font: #db5d5d;
    --border: #e68990;
    --screen: #f7f8fd;
    --screen-font: #e03737;
    --calculator: #fdf0a6;
    --btn: #ffffff;
    --btn-hover: rgb(253, 247, 229);
    --btn-active: rgb(255, 243, 210);
    --row-btn: #d6be99;
    --row-btn-hover: rgb(224, 198, 159);
    --row-btn-active: #c9b18e;
    --row-btn-font: #fdfdf6;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
}

.calc-display {
    padding: 20px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    color: var(--screen-font);
    font-size: 25pt;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calc-button {
    padding: 30px;
    border: 2px var(--border) solid;
    border-radius: 80px;
    background-color: var(--btn);
    font-size: 20px;
}

.calc-button:hover {
    background-color: var(--btn-hover);
}
  
.calc-button:active {
    background-color: var(--btn-active);
}

.row-button {
    color: var(--row-btn-font);
    background-color: var(--row-btn);
    margin-bottom: 20px;
}

.row-button:hover {
    background-color: var(--row-btn-hover);
}
  
.row-button:active {
    background-color: var(--row-btn-active);
}

.span-2 {
    grid-column: span 2;
    border-radius: 20px;
    padding: 20px;
}


  